---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2023/10/7')}
	heroImage="/about-me.png"
>
	<p>
		I'm a computer consultant, working from Tennessee (U.S.A.) Here you'll find
		a various miscellany of things that I've been interested in over the years.
		Enjoy!
	</p>
	<p>
		The source code for this site is available here:<br />
		<a href="https://github.com/dfbaskin/dfbaskin-blog" target="_blank">https://github.com/dfbaskin/dfbaskin-blog</a>
	</p>
</Layout>
